<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrsar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>

<body>

    <div class="wrapper">
        <div class="logo">
            El Abasto
        </div>
        <form class="p-3 mt-3" method="POST">
            <div class="form-field">
                <span class="far fa-user"></span>
                <input type="email" class="form-control" name="email" id="email" placeholder="Nombre de usuario">
            </div>
            <div class="form-field">
                <span class="fas fa-key"></span>
                <input type="password" class="form-control" name="password" id="pwd" placeholder="Contraseña">
            </div>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type="submit" class="btn btn-primary mt-3">Iniciar sesión</button>
        </form>
        <div class="text-center fs-6">
            <a href="{{url_for('recuperarPassword')}}">¿Olvidaste la contraseña?</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>